@page
@model MegaDeskWebGroup.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Quote[0].CustomerName)
                    @(string.IsNullOrEmpty(Model.CurrentSort) ? "▲" : Model.CurrentSort == "name_desc" ? "▼" : "")

                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Quote[0].QuoteDate)
                    @(Model.CurrentSort == "Date" ? "▲" : Model.CurrentSort == "date_desc" ? "▼" : "")
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].DrawerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].RushDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
